:root {
    /* color  */
    --black-500: black;
    --black-100: #E5E5E5;
    --red: #C2190E;
    /* font-size  */
    --fs-14:14px;
    --fs-15:15px;
    --fs-16:16px;
    --fs-36:36px;
    --fs-13: 13px;
    --fs-15: 15px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-28: 28px;
    --fs-36: 36px;
    /* font-family  */
    --ff-p: 'Poppins', sans-serif;
}
.fs-xs{
    font-size: var(--fs-14);
}

.fs-sm {
    font-size: var(--fs-15);
}

.fs-sm {
    font-size: var(--fs-13);
}
.fs-base {
    font-size: var(--fs-14);
}
.fs-4xl {
    font-size: var(--fs-28);
}
.ff-p {
    font-family: var(--ff-p);
}
.color-red {
    color: var(--red);
}

.bg-red {
    background-color: var(--red);
}

.bg-black-100 {
    background-color: var(--black-100);
}