:root{
    /* color  */
    --black-500:black;
    --red:#C2190E;
    /* font-size  */
    --fs-14:14px;
    --fs-15:15px;
    --fs-16:16px;
    --fs-36:36px;
    /* font-family  */
    --ff-p:'Poppins', sans-serif;
}
.fs-xs{
    font-size: var(--fs-14);
}
.fs-sm{
    font-size: var(--fs-15);
}
.fs-base{
    font-size: var(--fs-16);
}
.fs-4xl{
    font-size: var(--fs-36);
}
.ff-p{
    font-family: var(--ff-p);
}
.color-red{
    color: var(--red);
}
.bg-red{
    background-color: var(--red);
}